* {
    margin: 0;
}

:root {
    --width-mobile: 88%;
    --font: 'Bai Jamjuree';
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    box-sizing: border-box;
}

.img-responsive {
    width: 100%;
    height: auto;
}

p {
    color: #afb0b2;
    text-align: center;
}

h1, h2 {
    color:#515659
}

.icon-wrapper {
    display: none;
}

@media screen and (min-width: 275px) {
/*     
    body {
        height: 100vh;
    } */

    .header-site {
        color: #4f5458;
        background-image: url(/static/images/bg-header-mobile.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }
    
    .header-container {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: inherit;
        width: var(--width-mobile);
    }

    .header-title {
        text-align: center;
        margin-top: 20px;
    }
    
    .header-title h1 {
        letter-spacing: .2px;
    }

    .header-download {
        margin-top: 52px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px 0;
        align-items: center;
        width: var(--width-mobile);
    }

    .btn-primary {
        padding: 14px;
        font-family: var(--font);
        font-size: 16px;
        color: #fff;
        background-color: hsl(171, 66%, 44%);
        width: 100%;
        border-radius: 22px;
        outline: none;
        border: none;
        cursor: pointer;
        -webkit-box-shadow: 0px 2px 1px .2px #219f8a;
        -moz-box-shadow: 0px 2px 1px 1px #219f8a;
        box-shadow: 0px 2px 1px 1px #219f8a;
    }
    .btn-secondary {
        padding: 14px;
        font-family: var(--font);
        font-size: 16px;
        color: #fff;
        background-color: hsl(233, 100%, 69%);
        width: 100%;
        border-radius: 22px;
        outline: none;
        border: none;
        cursor: pointer;
        -webkit-box-shadow: 0px 2px 1px .2px #4f62da;
        -moz-box-shadow: 0px 2px 1px 1px #4f62da;
        box-shadow: 0px 2px 1px 1px #4f62da;
    }

    .main {
        width: var(--width-mobile);
        margin: auto;
        text-align: center;
    }

    .snippets {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 30px 0;
    }

    .snippets-header {
        margin: auto auto 50px auto;
    }

    .snippets-header h1 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .snippet-img-description h2:first-child {
        margin-top: 50px;
    }

    .snippet-img-description p {
        margin: 10px 0 60px 0;
    }

    .access {
        margin-top: 90px;
    }

    .access-option p {
        margin: 20px 0 60px 0;
    }

    .supercharge-header {
        margin: 90px 0 80px 0;
    }

    .supercharge-images {
        margin: 0 0 60px 0;
    }

    .supercharge-images figure {
        margin: 0 0 50px 0;
    }

    .download button:first-child {
        margin-bottom: 20px;
    }

    footer { 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: var(--width-mobile);
        margin: auto;
        margin-top: 30px;
        flex-wrap: wrap;
        padding: 20px;
        background-color: #f5f6f8;
    }

    .logo-footer {
        display: flex;
        justify-content: center;
    }

    .logo-footer img {
        width: 50%
    }

    .list-footer {
        list-style: none;
        margin: 35px 0 35px 0;
        color: #515659;
        text-align: center;
        padding: 0;
    }

    .list-footer li {
        margin-bottom: 20px;
        font-size: 16px;
        cursor: pointer;
    }

    .social-media {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        cursor: pointer;
    }


}

@media screen and (min-width: 992px) {
    
    .btn-primary {
        width: auto;
    }
    .btn-secondary {
        width: auto;
    }
    
    .header-site {
        background: url(/static/images/bg-header-desktop.png), no-repeat, center, cover;
    }

    h1, h2 {
        font-size: 36px;
    }

    .header-download {
        margin-top: 52px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 0 25px;
        align-items: center;
        width: auto;
    }

    .img-description {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 0 60px;
        justify-content: space-between;
    }

    .figure {
        display: flex;
        justify-content: flex-start;
    }

    /* p {
        text-align: left !important;
    } */

    .snippet-img-description div p, .snippet-img-description div h2 {
        text-align: left !important;
    }

    .supercharge-images {
        display: flex;
        justify-content: space-around;
        margin-bottom: 120px;
    }

    .download .btn-primary {
        margin-right: 24px;
    }

    footer {
        display: grid;
        grid-template-columns: 25% 50% 25%;
    }

    .list-footer {
        display: flex;
        flex-wrap: wrap;
        margin: 0 inherit;
        /* flex-direction: row; */
        justify-content: space-evenly;
    }

}